

header .intro-text {
    padding-top: 75px;
}
#logo {
    background-image: url(../img/bsharp-logo.png);
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 10px;
}

@media (min-width: 768px) {
  header .intro-text {
    padding-top: 120px;
  }
  
  #logo {
      width: 150px;
      height: 150px;
      margin: 0 auto 20px;
  }
}

.navbar-default .navbar-brand {
    color: #fff;
}

.intro-text .btn {
    background-color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.5);
}
.intro-text .btn:hover {
    background-color: rgba(0,0,0,.8);
    border-color: rgba(0,0,0,.8);
}

.portfolio {
    font-size: 20px;
    height: 80px;
    width: 100%;
    text-align: center;
    padding-top: 12px;
}
.portfolio-item:nth-child(6n+1) .portfolio { background-color: #95BD25; }
.portfolio-item:nth-child(6n+2) .portfolio { background-color: gold; }
.portfolio-item:nth-child(6n+3) .portfolio { background-color: darkorange; }
.portfolio-item:nth-child(6n+4) .portfolio { background-color: palevioletred; }
.portfolio-item:nth-child(6n+5) .portfolio { background-color: deepskyblue; }
.portfolio-item:nth-child(6n+6) .portfolio { background-color: gold; }

.portfolio i {
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(0,0,0,.8);
}



.timeline>li .timeline-image.blue {
    background-color: deepskyblue;
}
.timeline>li .timeline-image.green {
    background-color: darkgreen;
}
.timeline>li .timeline-image.red {
    background-color: darkred;
}
.timeline>li .timeline-image.yellow {
    background-color: darkgoldenrod;
}
.timeline>li .timeline-image.orange {
    background-color: darkorange;
}


#contactFormFrame {
  width: 100%;
}

.piano {
  font-family: 'Sumana', serif;
  font-weight: 700;
  font-size: 2em;
}
.studio {
  font-family: 'Martel', serif;
  font-weight: 200;
  font-size: 1.85em;
}
.piano, .studio {
  text-transform: uppercase;
  font-style: normal;
}
